@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: hsl(160, 86%, 60%);
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ------------Dark theme VARIABLE-------------- */
.dark-theme-variables{
  --color-background: #181a1e;
  --color-white:#202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /*appearance: none;*/
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
    overflow-y: auto;
    position: relative;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.container {
  display: grid;
  width: 98%;
  margin: 0 0 0 2%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
    position: relative;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

aside {
  height: 98vh;
    position: sticky;
    top: 0;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

aside .close {
  display: none;
}

/* Sidebar */
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 300;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/* =======================Main================ */
main {
  margin-top: 1.4rem;
}

main .date {
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  margin: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
  background: transparent;
  color: var(--color-dark);
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: box-shadow 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.expenses span {
  background: var(--color-danger);
}

main .insights > div.income span {
  background: var(--color-success);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg {
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 main .insights small{
  margin-top: 1.3rem;
  display: block;
 }
/* ==================Recent order============ */
main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: box-shadow 300ms ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}
main table tbody td{
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
  border: none;
}
main .recent-orders a{
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}
/* ======Right========= */
.right {
  margin: 1.4rem;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
}

.right .top .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}
/*======recent update===========  */
.right .recent-updates{
  margin-top: 1rem;
}
.right .recent-updates h2{
  margin-bottom: 0.8rem;
}
.right .recent-updates .updates{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .recent-updates .updates:hover{
  box-shadow: none;
}

.right .recent-updates .updates .update{
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ==========SALE ANALYTICS======== */
.right .sales-analytics{
  margin-top: 2rem;
}
.right .sales-analytics h2{
  margin-bottom: 0.8rem;
}
.right .sales-analytics .item{
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .sales-analytics .item:hover{
  box-shadow: none;
}
.right .sales-analytics .item .right{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}
.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}
.right .sales-analytics .item.offline .icon {
  background: var(--color-danger);
}
.right .sales-analytics .item.customers .icon {
  background: var(--color-success);
}
.right .sales-analytics .add-product {
  background: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .sales-analytics .add-product:hover{
  background: var(--color-primary);
  color: var(--color-white);
}
.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.right .sales-analytics .add-product div h3 {
  font-weight: 600;
}

/* ==========meidea qeries========= */
@media screen and (max-width: 1200px) {
 .container{
  width: 94%;
  grid-template-columns: 7rem auto;
 }
  aside .logo h2{
    display: none;
  }
  aside .sidebar h3{
    display: none;
  }
  aside .sidebar a{
    width: 5.6rem;
  }
  aside .sidebar a:last-child{
    position: relative;
    margin-top: 1.8rem;
  }
  main.insights{
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .recent-orders{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  main .recent-orders table{
    width: 83vw;
  }

  main table thead tr th:last-child, main table thead tr th:first-child{
    display: none;
  }
  main table tbody tr td:last-child,
  main table tbody tr td:first-child{
    display: none;
  }
}
/* ==========meidea qeries 2========= */
@media screen and (max-width: 769px) {
  .container{
   width: 94%;
   grid-template-columns: 1fr;
  }
  aside{
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation:showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  aside .logo{ margin-left: 1rem;}
  aside .logo h2{
    display: inline;
  }
  aside .sidebar h3{display: inline;}
  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
  }
  aside .close{
    display: inline-block;
    cursor: pointer;
  }
  main{
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .recent-orders{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .recent-orders table{
    width: 100%;
    margin: 0;
  }
  .right{
    width: 94%;
    margin: 0 auto 4rem;
  }
  .right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);

  }
  .right .top .theme-toggler {
    width: 4rem;
    position: absolute;
    left: 66%;
  }
  .right .profile .info{display: none;}
  .right .top button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color:var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span{
    font-size: 2rem;
  }
}


/* ______________________ADMIN-STUDENT____________________________*/
.table-section{
    display: flex;
    width: 97%;
    height: 40rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 3% 2rem 0;
    position: sticky;
}

.table-section .table-wrapper{
    width: 100%;
    height: 100%;
}

.table-section .table-wrapper .table-name{
    width: 100%;
    margin-bottom: 1.5rem;
}

.table-section .table-wrapper .table-name h2{
    font-weight: bold;
    text-transform: uppercase;
}

.table-section .table-wrapper .table-search-wrap{
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 100%;
}

.table-section .table-wrapper .table-search-wrap svg{
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
}

.table-section .table-wrapper .table-search-wrap .search-bar{
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 52px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    background-color: rgba(233, 233, 233, 1);
}

.table-section .table-wrapper .table-search-wrap .search-bar:focus, .search-bar:hover {
    outline: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.container-checkbox{
    position: relative;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 98%;
    margin-left: 1%;
}

.container-checkbox .year-of-university{
    width: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-checkbox .year-of-university .year-of-university-name p{
    font-weight: bold;
}

.container-checkbox .year-of-university input{
    display: inline-flex;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

.container-checkbox .year-of-university label{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.container-checkbox .available-deleted{
    width: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-left: 5rem;
}

.container-checkbox .available-deleted .available-deleted-name p{
    font-weight: bold;
}

.container-checkbox .available-deleted input{
    display: inline-flex;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

.container-checkbox .available-deleted label{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.container-checkbox .create-new{
    display: inline-flex;
    width: 70%;
    justify-content: flex-end;
}

.container-checkbox .create-new form{
    display: inline-flex;
    width: 20%;
    height: 40px;
    justify-content: flex-end;
}

.container-checkbox .create-student form{
    display: inline-flex;
    width: 31%;
    height: 40px;
    justify-content: flex-end;
}

.container-checkbox .create-new .create-new-btn{
    outline: none;
    width: 80%;
    height: 100%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.container-checkbox .create-new .create-new-btn:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.table-wrap{
    width: 100%;
    height: 100%;
    max-height: 29rem;
    overflow-y: auto;
    position: relative;
}

.table-wrap .table{
    width: 98%;
    height: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-left: 1%;
}

.table-wrap .table .table-list-head-wrap{
    overflow-y: auto;
    height: 3rem;
    border-radius: 15px;
    position: sticky;
    top: 2px;
    z-index: 1;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    background-color: #FFFFFF;
}

.table-wrap .table .table-list-head-wrap .table-head:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table-wrap .table .table-list-head-wrap .table-head:nth-child(6){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table-wrap .table .table-list-body-wrap{
}

.table-wrap .table .table-list-body{
    height: 5.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 15px;
    margin-left: .3rem;
}


.table-wrap .table .table-list-body .table-body{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}

.table-wrap .table .table-list-body .table-body:nth-child(1){
    padding-left: 1.3rem;
}

.table-wrap .table .table-list-body .table-body:nth-child(2){
    padding-left: 1.3rem;
}

.table-wrap .table .table-list-body .table-body:nth-child(3){
    text-align: center;
}

.table-wrap .table .table-list-body .table-body:nth-child(4){
    text-align: center;
}

.table-wrap .table .table-list-body .table-body:nth-child(5){
    text-align: center;
}

.table-wrap .table .table-list-body .table-body:nth-child(6){
    text-align: center;
}

.nav-function {
    position: static;
    display: inline-block;
    cursor: pointer;
}

.function-btn {
    padding: 10px;
    color: #1b1e21;
    width: 100px;
    background-color: rgba(255,255,255,0);
    transition: .3s transform;
}

.function-btn:hover{
    transform: scale(1.2);
}

.function-btn:active{
    transform: scale(1.1)
}

.list-function {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: transparent;
    border-radius: 10px;
}


.function-item {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    margin-top: .5rem;
    background-color: transparent;
}


.function-item button {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.function-item button:active {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.function-item:hover {
    background-color: #f1f1f1;
}


/* ______________________ADMIN-ADD____________________________*/

.form-i-main{
    width: 97%;
    height: 40rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 3% 2rem 0;
    position: sticky;
}

.form-i-main .form-main h2{
    width: 100%;
    height: 10%;
    font-size: 2rem;
}

.form-i-main .form-information-wrapper{
    width: 100%;
    height: 90%;
    margin-top: 1.2rem;
}

.form-i-main .form-information-wrapper label{
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.form-i-main .form-information-wrapper input{
    max-width: 100%;
    min-height: 40px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border: none;
    border-radius: 10px;
    transition: all .5s;
}

.form-i-main .form-information-wrapper input:focus {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.form-i-main .form-information-wrapper select{
    max-width: 100%;
    min-height: 40px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border: none;
    border-radius: 10px;
}

.form-i-main .form-information-wrapper .form-information-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.form-i-main .form-information-wrapper .form-information-wrap .image{
    max-width: 15%;
    max-height: 15%;
    object-fit: contain;
}

.form-i-main .form-information-wrapper .form-information-wrap textarea{
    resize: none;
    height: fit-content;
    max-height: 10%;
    max-width: 100%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border: none;
    border-radius: 10px;
    transition: all .5s;
}

.form-i-main .form-information-wrapper .form-information-wrap textarea:focus{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.form-i-main .form-information-wrapper .form-main-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}

.form-i-main .form-information-wrapper .form-main-btn button{
    width: 20%;
    height: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    margin-bottom: 2rem;
}

.form-i-main .form-information-wrapper .form-main-btn .save-student-btn{
    margin-left: auto;
}

.form-i-main .form-information-wrapper .form-main-btn button:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.form-i-main .form-information-wrapper .form-main-btn .save-student-btn:active{
    background-color: rgba(17, 182, 1, 0.8);
}

.form-i-main .form-information-wrapper .form-main-btn .cancel-btn:active{
    background-color: rgba(222, 31, 31, 0.8);
}


/* ______________________MC-HOME____________________________*/

.heading {
    position: relative;
    padding: 0px 0 20px 0px;
    width: 100%;
    display: flex;
    margin-left: 2.4rem;
    z-index: 99; }
.heading h2 {
    font-size: 25px;
    color: #002147;
    font-weight: 800;
    letter-spacing: 0.4px;
    text-transform: uppercase; }

.bg-02 {
    padding: 50px 0px;
    position: relative;
    background: #fff;
    z-index: 9;
width: 100%;
    max-height: 52rem;
    overflow-y: auto;
}

.bg-02 .featured-box {
    position: relative;
    display: inline-block;
    margin: 2.5rem 1.2rem;
    padding: 10px 20px;
width: 30%}
.bg-02 .featured-box .content {
    display: block;
    position: relative;
    padding: 10px 20px;
    border: 1px solid #dddd;
    border-top: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;}
.bg-02 .featured-box .content h3 {
    font-size: 20px;
    color: #002147; }
.bg-02 .featured-box .content p {
    padding: 10px 0px;
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.bg-02 .featured-box .content ol li {
    display: inline-block;
    padding: 0 6px 0 0;
    border-right: 1px solid #dddd;
    color: #444444;
    font-size: 13px; }
.bg-02 .featured-box .content ol li:nth-child(3) {
    border: none; }
.bg-02 .featured-box .feature-card {
    position: relative;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;}
.bg-02 .featured-box .feature-card img{
    object-fit: contain;
}
.bg-02 .featured-box .feature-card a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: ease-in-out 0.9s;
    visibility: hidden;
    opacity: 0;
    background: #002147;
    z-index: 2; }
.bg-02 .featured-box .feature-card:hover a {
    visibility: visible;
    opacity: 1; }
.bg-02 .featured-box .feature-card:hover::before {
    height: 100%; }
.bg-02 .featured-box .feature-card::before {
    position: absolute;
    content: "";
    background: #fdc800;
    opacity: 0.8;
    width: 100%;
    top: 0;
    height: 0;
    transition: ease-in-out 0.4s;
    z-index: 1; }

.container-magazine {
    max-width: 1170px; }
@media screen and (max-width: 575px) {
    .container-magazine {
        padding: 0px 15px;
        max-width: 100%;
        width: 100%; } }
/* ______________________MC-CONTRIBUTION-DETAIL____________________________*/
.list-contributions-wrapper{
    position: relative;
    width: 100%;
    height: 48rem;
    overflow-y: auto;
    margin-top: 2rem;
}

.list-contributions-wrapper .list-contributions-name{
    text-transform: uppercase;
    padding-left: 1rem;
    margin-bottom: .8rem;
}

.list-contributions-wrapper .list-contributions-name h2{
    font-size: 1.5rem;
}

.list-contributions-wrapper form{
    width: 98%;
    height: 22%;
    margin-left: 1%;
    display: grid;
    margin-bottom: .8rem;
    grid-template-columns: 92% 8%;
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.list-contributions-wrapper .list-contributions-wrap{
    width: 100%;
    height: 100%;
}

.list-contributions-wrapper .contribution-actions{
    display: inline-flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.list-contributions-wrapper .contribution-actions button{
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 98, 212, .5);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.list-contributions-wrapper .list-contributions-wrap .contribution-user-name{
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    height: 20%;
    margin-top: .5rem;
    padding-left: .5rem;
}

.list-contributions-wrapper .list-contributions-wrap .contribution-file-item{
    display: flex;
    width: 100%;
    margin-bottom: .5rem;
    padding-left: .5rem;
    font-size: .9rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* ______________________Change-profile____________________________*/

.profile-form-wrap{
    width: 100%;
    margin: 0 2%;
    height: 80vh;
    position: relative;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 25% 75%;
}

.profile-form-wrap .personal-image-password{
    width: 100%;
    height: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 15px;
}

.profile-form-wrap .personal-image-password .personal-image-name{
    width: 100%;
    height: 25%;
}

.profile-form-wrap .personal-image-password .personal-image-name .personal-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.profile-form-wrap .personal-image-password .personal-image-name .personal-image label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.profile-form-wrap .personal-image-password .personal-image-name .personal-image img{
    width: 30%;
    height: 80%;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.profile-form-wrap .personal-image-password .personal-image-name p{
    width: 100%;
    height: 20%;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    margin-left: 5%;
}

.profile-form-wrap .personal-image-password .change-password{
    width: 100%;
    height: 50%;
    margin-top: 1.2rem;
    margin-left: 5%;
}

.profile-form-wrap .personal-image-password .change-password p{
    font-size: 1.2rem;
    color: black;
}

.profile-form-wrap .personal-image-password .change-password input{
    width: 90%;
    height: 12%;
    margin-top: 1.2rem;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.profile-form-wrap .personal-information-wrap{
    width: 100%;
    height: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 15px;
    padding: 15px;
}

.profile-form-wrap .personal-information-wrap .personal-information-head h2{
    font-size: 1.6rem;
}

.profile-form-wrap .personal-information-wrap .personal-information-body{
    margin-top: 1.2rem;
}

.profile-form-wrap .personal-information-wrap .personal-information-body .personal-information{
    width: 100%;
    display: flex;
    padding: 5px 0;
    flex-direction: column;
}

.profile-form-wrap .personal-information-wrap .personal-information-body .personal-information label{
    width: 100%;
}

.profile-form-wrap .personal-information-wrap .personal-information-body .personal-information input{
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin-top: 5px;
}

.profile-form-wrap .personal-information-wrap .personal-information-body .personal-information input:focus{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.profile-form-wrap .personal-information-wrap .personal-information-body .personal-change-btn{
    width: 100%;
}

.profile-form-wrap .personal-information-wrap .personal-information-body .personal-change-btn button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-top: 20%;
}

.profile-form-wrap .personal-information-wrap .personal-information-body .personal-change-btn button:active{
    transform: scale(0.8);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}


/* ______________________Chart____________________________*/
.select-academic-year{
    width: 100%;
}
.list-chart{
    width: 80%;
    display: inline-flex;
}

#barChart {
    display: inline-flex;
    width: 45%;
    height: 40%;
    margin-right: 5%;
}

/* ______________________List-page____________________________*/
.listPage{
    padding: 10px;
    text-align: center;
    list-style: none;
    width: 100%;
}

.listPage li{
    padding: 10px;
    display: inline-flex;
    cursor: pointer;
    margin: 2px;
    border: 0.5px solid rgba(187,187,187,0.3);
}

.listPage .active{
    border: 0.5px solid rgba(0,0,0,0.3);
}

.academicYearSelect{
    padding: 5px;
    border-radius: 10px;
    width: 20%;
    height: 100%;
}



